 <!-- The content below is only a placeholder and can be replaced.
<div style="text-align:center">
<h1>
    Welcome to {{ title }}!
  </h1> 
<app-demodatabinding> </app-demodatabinding> 
 <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="> 
 </div>     -->
 <div style="text-align:center">
 <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
 </div>
 <!-- <app-simpleform> </app-simpleform> -->
 <app-demodatabinding> </app-demodatabinding>
 <!-- <app-demo> </app-demo> 
 <app-demo2> </app-demo2> --> 
  <!-- <div *ngIf="data"> -->
    <!-- <app-product>

</app-product>  -->
<!-- <app-child [msg]="data" (foodEvent)="getDataFromChild($event)" ></app-child>  

<app-reactiveform> </app-reactiveform> -->
 <!-- <app-ngif>
</app-ngif>
<button type="button" class="btn btn-primary"> Primary</button>  -->

 <!-- <app-ngfor>
</app-ngfor> -->
<!-- 
 <app-ng-switch> 
 </app-ng-switch> -->
 <!-- <app-comp2> </app-comp2>
 <app-comp1> </app-comp1>  -->

 <!-- <app-simpleform></app-simpleform> -->


<!-- <app-demo></app-demo>
<app-demo2></app-demo2>   -->
<!-- {{count | count}}
<app-pipedemo></app-pipedemo>  -->
 <!-- <app-filterpipe> </app-filterpipe> -->
 <!-- <app-datatbinding></app-datatbinding> -->

 <div class="row"> 
  <div class="col-md-6">
<!-- 
  </header>   -->

<!-- <app-comp1></app-comp1>
<app-comp2></app-comp2>
</div>
<div class="col-md-6">
<app-comp3></app-comp3>

<app-comp4></app-comp4>

</div>
</div> -->
<!-- <app-postdetails></app-postdetails> -->

<!-- 
<appCustdir> </appCustdir> -->

<!-- <p class="text-center" style="background-color: gray;"> this is normal parameter</p>
<p class="text-center" appCustdir> this is custom para</p> -->



<header>
  <nav>
    <ul class="nav nav-tabs">
<li class="nav-item">
  <a class="nav-link"  routerLinkActive="active" routerLink ="/login"> login</a>
   </li> 

    <li class="nav-item">
      <a class="nav-link"  routerLinkActive="active"  routerLink ="/home"> home</a>
       </li> 
    
       <li class="nav-item">
        <a class="nav-link"  routerLinkActive="active" routerLink ="/aboutus"> About Us</a>
         </li> 

         <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink ="/contactus"> Contact Us</a>
           </li> 

           <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink ="/product"> product</a>
             </li> 

             <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" routerLink ="/post"> post</a>
               </li> 


           <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/todo">Todo</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/rapidapi">RapidAPI</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/firebaseapi">FireBaseAPI</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/rxjs">rxjs</a>
      </li>
</ul>

</nav>
</header> 

<!-- <input type="text" (blur)="OnTextValueChanges(val)" #val> -->

<!-- <app-hook [fromParent]="data" *ngIf="isDestroy">   -->

<!-- 
 <h1 #child>This is child content coming from parent component</h1>  -->
<!-- </app-hook> 
<button class="btn btn-danger" (click)="OnDestory()"> OnDestory</button>
<app-firebase></app-firebase>
<app-rapidapi></app-rapidapi>-->

<!-- <app-rxjs></app-rxjs>  -->
<!-- <button (clicK)></button-->
<router-outlet></router-outlet>   