<!-- <p *ngIf="showActions">
    content to render when the conditions is true
</p>-->

<!-- <div  *ngIf="showActions">   this is *ngIf example 

</div>

<div>   this is test div</div>


<div *ngIf="showActions; else" elseBlock> 
    
content to render when the condition is true

</div>
<ng-template >content to render when the condition is false</ng-template>

 <button (click)="show=!show"> {{show ? 'hide' : 'show'}} </button> -->

<!-- <p appCustdir> Ng if Para</p>
<div appCustdir> This is custom directive div</div>
<button (click)="show=!show"> {{show ?'hide': 'show'}}</button>  -->